################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProjectControls/obj/Debug
/DependencyPropertyGenerator/.vs/DependencyPropertyGenerator/v15
/DependencyPropertyGenerator/obj/Debug
/DependencyPropertyGenerator/bin/Debug
/ProjectControls/bin/Debug
